
body { font-family: Arial; margin: 0; padding: 0; background-color: #f7f9fb; }
header, main { padding: 20px; text-align: center; }
.button { padding: 10px 20px; background-color: #004e91; color: white; text-decoration: none; border-radius: 5px; }
